html {
  scroll-behavior: smooth;
}

.custom-navbar {
  background: rgba(0, 0, 0, 0.8);
  backdrop-filter: blur(8px);
}

.nav-link {
  background: none;
  border: none;
  color: white;
  font-weight: 500;
  cursor: pointer;
  transition: 0.3s;
}

.nav-link:hover {
  color: #6c63ff;
}

.active-link {
  color: #6c63ff !important;
  font-weight: 600;
}

.custom-logo {
  color: white;
  font-weight: bold;
  cursor: pointer;
}
