* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Segoe UI', sans-serif;
}

body {
  margin: 0;
  padding: 0;
  background: linear-gradient(to bottom, #1998dc, rgb(3, 120, 183), rgb(1, 94, 144));
  color: white;
  font-family: 'Poppins', sans-serif;
}


a {
  text-decoration: none;
  color: inherit;
}

section {
  padding: 80px 10%;
}